{% extends "templates/web.html" %}

{% block page_content %}
<a href="/events"> &lt; Kembali ke List Event</a>
<div class="py-5 row">
    <div class="col-sm-2">
        <img alt="{{ event_name }}" src="{{ doc.event_poster }}" />
    </div>
    <div class="col">
        <div class="mb-5">
            <h3>{{ event_name }}</h3>
            <hr />
        </div>

        <p class="align-self-end"><i>Penyelenggara: {{ organizer }}</i></p>
        <div class="mt-4 d-flex">
            <p class="mr-10">Kapasitas: <strong>{{ capacity }}</strong></p>
			<!--<p class="" id="total_terisi">Total Terisi: <strong id="total_terisi_value"></strong></p> -->
            <p class="mr-10">Tanggal Pelaksanaan : <strong>{{ date }}</strong></p>
        </div>

        <div class="mt-5">
            {%- if category == 'Gratis' -%}
            <a
                name=""
                id="register-free"
                class="btn btn-success px-5 py-2 font-weight-bold"
                href=""
                role="button"
                >Daftar Gratis</a
            >
            <script>
                document.getElementById('register-free').addEventListener('click', function(event) {
                    event.preventDefault();
                    frappe.call({
                        method: 'event_management_system.event_management_system.doctype.transactions.api.create_transaction_for_user',
                        args: {
                            event: '{{ name }}',
                            total_payment: '{{ total_payment }}',
                            event_name: '{{ event_name }}',
                        },
                        callback: function(response) {
							if(response.ValidationError) {
								frappe.msgprint(response.ValidationError);
							}else {
								frappe.msgprint(response);
							}
                        }
                    });
                });
            </script>
            {%- elif category == 'Berbayar' -%}
            <a name="" id="" class="btn btn-info px-5 py-2 font-weight-bold" href="/join-event" role="button"
                >Daftar - Rp. {{ price }}</a
            >
            {%- endif -%}
        </div>

        <div class="mt-10">
            <h5 class="mb-5">Deskripsi Kegiatan</h5>
            <p class="text-justify">{{ description }}</p>
        </div>
    </div>
</div>

<!--<script>
    document.addEventListener('DOMContentLoaded', function() {
        frappe.call({
            method: 'event_management_system.event_management_system.doctype.transactions.api.get_registered_count',
            args: {
                event: '{{ name }}'
            },
            callback: function(response) {
                if (response) {
					frappe.msgprint(response)
                    document.getElementById('total_terisi_value').innerText = response;
                } else {
					frappe.msgprint(response)
                    document.getElementById('total_terisi_value').innerText = '0';
                }
            }
        });
    });
</script> -->

{% endblock %}
